<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>startpage</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/WeatherPage"> Weather rapport</a></li>
          <li><a href="/newProfiles">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>
        Welcome traveller! Either register to save your bookmarked positions, or
        just look up weather rapport! Do whatever you want.
      </h1>
    </main>
  </body>
</html>
