<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/profile.css" />
  </head>
  <body>
    <aside>
      <span class="profile-name"><h2>{{username}}</h2></span>
    </aside>
    <main>
      <section>
        <h2></h2>
        <p></p>
      </section>
      <section>
        <h2>Your Bookmarks.</h2>
        <p>{{favpositions}}</p>
      </section>
    </main>
  </body>
</html>
